body{
    margin: 0;
    padding: 0;
}
/* fixed top div starts here. */
.fixed-top{
   background-color: #fff;
   margin: 0;
   padding: 0 0 -3rem 0;
} 
.fixed-top h1{
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: -1rem;
    font-family: 'Times New Roman', Times, serif;
}
.fixed-img{
    width: 3rem;
}
.fixed-top p{
    text-align: center;
    font-size: 1rem;
}
.fixed-div{
    /* background-color: black;
    width: 25%;
    margin: 1rem 0 2rem 75%;    
    border-radius: 4px;
    padding: 1rem 1rem 0.5rem 1rem; */
}
.fixed-div p{
    text-align: right;
    padding-right: 1rem;
}
span{
    font-weight: bold;
    color: rgb(102, 83, 34);
}
/* fixed top div ends here. */
/* navbar section */
.navbar{
    background-color: rgb(2, 55, 101);
    margin-top: 10rem;
    padding-top: 0;
}
.dropdown-menu li a:hover{
    color: #fff;
    text-decoration: none;
}
.nav-link{
    font-family: "Montserrat-light";
}
.dropdown-menu li a{
    color: #8393aa;
    padding-left: 2rem;
}
a.navbar-a-tags{
    color:  #8393aa;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none ;
    display: block;
    margin: 0.5rem;
} 
a.active{
    color: #fff;
}
.eke-firm{
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 3rem 0 0; 
}
.eke-firm:hover{
    color:  #8393aa;
    text-decoration: none;
}
.eke-firm img{
    border-radius: 50%; 
    width:2rem;       
}
a.navbar-a-tags:hover{
    color: rgb(230, 175, 175);    
}   
/* navbar section ends here. */

/* <!-- why choose div starts here. --> */
.why-choose{
    margin: 13.2rem 0.2rem 1rem 0;
    width: 100%;
}
.why-choose img{
    margin-left: 10rem;
}
.why-choose-e{
    background-color: rgb(1, 38, 72);
    padding: 1rem 3rem;
    border-radius: 3px;
    width: 30%;
    text-align: center;
}
.why-choose-e h2{
    color: white;
    text-align: center;
    padding-top: 1rem;
}
.why-choose-e p{
    color: white;
    font-size: 1rem;
}
/* <!-- why choose div ends here. --> */
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 0 1rem 0 ;
}
/* main div starts here. */
.main-div{
    padding: 0;
    margin: 1rem 0;
} 
.card{
    box-shadow: 1px 2px 2px 1px #888888;
}
.card img:hover{
    width: 20rem;
}
.card-details{
    padding: 4%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(24, 24, 87);
}
.card-details p:hover{
    color: rgb(214, 111, 73);
    text-decoration: none;
}
/* main div ends here. */

/* law details starts here. */
.firm-details{
   background-image: url("pics/background-image.jpeg"); 
   background-repeat: no-repeat; 
   background-size: cover;
   margin: 2rem 0 -5rem 0;
   width: 98.8%;
}
.firm-details p{
    color: white;
    padding: 2rem;
    font-size: 1.1rem;
}
.firm-details h4{
   color: white;
   padding-left: 2rem;
}
/* law details ends here. */

/* corporate-biz section starts here. */
.corporate-biz{
    margin-top: 7rem;
}
.corporate-biz h4{
    padding-left: 10%; 
    font-weight: bold; 
    font-size: 1rem;
}
.corporate-biz span{
    font-size: 1.1rem;
    color: black;
}
.corporate-biz p{
    padding-left: 10%;
    font-size: 1.1rem;
    color: black;
    text-align: left;
}
.corporate-biz img{
    margin-left: 30rem;
}
.corporate-p{
    font-size: 1.2rem;
    padding-top: -1rem;
}
.corporate-h2{
    padding-top: 14rem;
    font-size: 2.5rem;
}
.corporate-h5{
    text-decoration: underline;
    padding-bottom: 0;
    color: rgb(32, 32, 73);
    font-weight: bold;
}
/* corporate-biz section ends here. */
/* cac starts here. */
.cac span{
    color: rgb(34, 34, 82);
}
/* cac ends here. */
 /* legal-biz section starts here. */
.legal-biz{
    background-color: rgb(2, 55, 101);
    padding: 2rem;
}
.legal-biz p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}
 /* legal-biz section starts here. */
 .certificate span{
    color: rgb(32, 32, 73);
    font-size: 1.2rem;
 }
/* about-us section starts here. */
.about-us{
    margin-top: 13rem;
}
.about-details{
    padding: 0.5rem;
    text-align: left;
}
.about-details h6{
    font-size: 1.5rem;
    font-weight: bold;
}
.about-details p{
    font-size: 1.1rem;
    text-align: justify;
}
.about-img{
    padding: 0.5rem;
    text-align: center;
}
.about-us-2{
    padding-left: 5rem;
}
/* about-us section ends here. */
/* .corporate & Biz sections starts here. */
.corporate{
    padding-top: 19rem;
    font-size: 2.5rem;
}
/* .corporate & Biz sections ends here. */

/* main-div2 starts here. */
.main-div2{
    margin: 1rem 0 2rem 0;
}
.practice{
    padding: 19rem 0 2rem 0;
}
.practice-h2{
    padding-top: 15rem;
}
/* main-div2 ends here. */

/* real estate starts here. */
.real-estate{
    background-color: rgb(1, 38, 72);
    margin-top: 13.2rem;
    padding: 2.5rem 0 2.5rem 1rem;
    width: 100%;
}
.real-estate p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6rem;
}
.real-h2{
    padding-top: 1rem;
    text-align: center;
}
.real-p{
    text-decoration: underline;
    padding-top: 1rem;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
}
ol{
    padding: 0 0 0 4rem;
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.second-ol{
    padding: 0 0 0 1rem;
    margin: 0 -9rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
hr{
    width: 99%;
    border: 1px solid rgb(239, 235, 235);
}
ul{
    padding: 0 0 0 4rem;
}
.real-h4{
    padding: 0;
}
.certificate-pee{
    padding-left: 3rem;
}
.second-pee span{
    color: rgb(34, 34, 82);
    font-size: 1.2rem;
}
.real-div{
    width: 98%;
}
/* real estate ends here. */
/* contact div starts here. */
.contact{
    margin-top: 14rem;
    width: 99.9%;
}
.contact-logo{
    text-align: center;
}
.contact-two h5{
    font-weight: bold;
    margin-left: 2.6rem;
    padding-bottom: 1rem;
}
.contact-two p{
    line-height: 1rem; 
    padding-left: 2rem;
    font-size: 1.1rem;  
}
/* contact div ends here. */
/* button ends here. */
 .homepage-button{
    text-align: center;
    margin-top: 3rem;    
 }
/* button ends here. */
/* footer starts here. */
footer{
    background-color: rgb(1, 38, 72);
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
    padding: 0.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homepage-footer{
    margin-top: 2rem;
}
.footer-span{
    font-size: 0.7rem;
}
/* footer ends here. */

@media only screen and (max-width:767px){

/* fixed top div starts here. */
.fixed-top h1{
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}
.fixed-img{
    width: 2rem; 
    margin-left: -1rem;
}
.fixed-top{
   margin: 0;
   padding: 0;
} 
.fixed-top p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2.5rem;  
}
.fixed-div{
    margin-top: -1.9rem;
    background-color: #fff; 
    width: 97%;
}
.fxed-div p{
    font-size: 1.5rem;
}
span{
    font-size: 1rem;
}
/* fixed top div ends here. */
/* navbar section */
.navbar{
    margin-top: 9rem;
    /* width: 97%; */
}
a.navbar-a-tags{
    font-size: 1.1rem;
    padding-left: 5.5rem;
} 
a.active{
    color: #fff;
}
.nav-link{
    font-family: "Montserrat-light";
}
.dropdown-menu li a{
    color: #8393aa;
    padding-left: 2rem;
}
.eke-firm img{
    margin-bottom: 2%;
}
/* navbar section ends here. */
/* <!-- why choose div starts here. --> */
.why-choose{
    margin: 10.5rem 0 1rem 0;
    text-align: center;
}
.why-choose img{
    margin: 1.5rem 0 0.5rem 0;
    width: 35%;
}
.why-choose-e{
    width: 100%;
}
.why-choose-e h2{
    font-size: 1.6rem;
}
.why-choose p{
    font-size: 1.2rem;
}
/* <!-- why choose div ends here. --> */
h2{
   padding: 0;
   font-size: 1.5rem;
}
/* main div starts here. */
.main-div{
    margin: 0;
} 
.main-div .col-md-3{
    margin-top: 1rem;
}
.card-details{
    font-size: 1.2rem;
}
/* main div ends here. */

/* law details starts here. */
.firm-details p{
    font-size: 1.1rem;
}
/* law details ends here. */

/* corporate-biz section starts here. */
.corporate{
    padding: 15rem 0 0 0;
    font-size: 2rem;
}
.corporate-h5{
    font-size: 1.1rem;
}
.corporate-p{
    padding-left: 1rem;
    padding-top: 0;
}
.corporate-biz{
    padding: 0 1rem;
}
.corporate-biz h4{
    padding-left: 1rem; 
    font-size: 1.3rem;
}
.corporate-biz span{
    font-size: 1rem;
}
.corporate-biz p{
    font-size: 1rem;
    padding: 0 1rem;
}
.corporate-biz img{
    margin: 0 4.5rem 1rem 4.5rem;
    width: 60%;
}
.corporate-h2{
   padding-top: 12rem;
   font-size: 2rem;
}
.certificate-pee{
    text-align: left;
    font-size: 1.2rem;
    padding-left: 1.2rem;
}
.practice-h2{
    padding: 12.5rem 0 1rem 0;
}
/* corporate-biz section ends here. */
/* contact div starts here. */
.contact{
    margin-top: 12rem;
}
.contact-logo img{
   width: 5rem;
   text-align: center;
}
.contact-two h5{
    font-weight: bold;
    padding-left: 0;
    font-size: 1.7rem;
}
.contact-two p{
    padding-left: 2rem;
    font-size: 1.2rem;  
}
/* contact div ends here. */

/* legal-biz section starts here. */
.legal-biz{
    padding: 1rem;
}
.legal-biz p{
    font-size: 1rem;
}
/* legal-biz section starts here. */

/* about-us section starts here. */
.about-us{
    width: 98%;
    padding: 1rem 0 0.5rem 0;
    margin: 11rem 0 0 0;
}
.about-us-2{
    padding-left: 1rem;
}
.about-details h6{
    font-size: 1.2rem;
    font-weight: bold;
}
.about-details p{
    font-size: 0.9rem;
    text-align: left;
}
.about-second{
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    height: 48rem;
}
.second-details h6{
    font-size: 1.2rem;
    font-weight: bold;
}
.second-details p{
    font-size: 0.9rem;
    text-align: left;
}
.second-img{
    margin: 0;
    padding: 0;
    width: 20%;
}
.about-btn{
    margin: 3rem 0 2rem 6rem;
    font-size: 1rem;
    padding: 5px 3px;
    border-radius: 4px;
}
/* about-us section ends here. */
/* real estate starts here. */
.real-estate{
    margin-top: 12rem;
    padding: 1.1rem 0 1rem 0.5rem;
}
.real-estate p{
    font-size: 1.3rem;
    line-height: 1rem;
}
.real-h1{
    padding: 0.6rem 0 0 0;
}
.real-p{
    padding-left: 0.5rem;
    font-size: 1.6rem;
    margin: 0;
}
ol{
    padding: 0 0 0 4rem;
    margin: 0;
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
}
.second-ol{
    padding: 0 0 1rem 4rem;
    margin: 0 0 -1rem 0;
    font-size: 1.1rem;
}
hr{
    margin-bottom: 0.3rem;
    border: 1px solid rgb(239, 235, 235);
}
ul{
    padding: 0 0 0 3rem;
    font-size: 1.1rem;
    text-align: left;
}
.real-h4{
    padding-left: 0.2rem;
    font-size: 1.4rem;
}
.second-pee{
    /* padding: 0; */
    font-size: 1.1rem;
}
.real-div{
    width: 100%;
    margin-bottom: 0;
}
/* real estate ends here. */

/* main div2 starts here. */
.main-div2{
    margin: 0;
    padding: 0;
    width: 99%;
}
.practice{
    padding: 16rem 0 1rem 0;
}

/* main div2 ends here. */
.homepage-button{
    text-align: center;
    margin-top: 3rem 0 2rem 0;    
 }
/* footer starts here. */
footer{
    font-size: 0.8rem;
    margin-top: 1rem;
    padding-left: 0;
}
.homepage-footer{
    margin-top: 2rem;
    font-size: 0.8rem;
    padding-left: 0;
}
.footer-span{
    font-size: 0.6rem;
}
/* footer ends here. */
}





